<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>724406770429-qij62kam90b7nc26t9so6iepi22niii4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724406770429-qij62kam90b7nc26t9so6iepi22niii4</string>
	<key>API_KEY</key>
	<string>AIzaSyBKS6R6yMp-c7hh-S25a8-tCFN7Klx_hO0</string>
	<key>GCM_SENDER_ID</key>
	<string>724406770429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NSBeard.Survey</string>
	<key>PROJECT_ID</key>
	<string>laundry-survey</string>
	<key>STORAGE_BUCKET</key>
	<string>laundry-survey.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:724406770429:ios:31a56f1d9207fd6e</string>
	<key>DATABASE_URL</key>
	<string>https://laundry-survey.firebaseio.com</string>
</dict>
</plist>